body {
    font-family: 'Roboto Mono';
    padding: 0;
}

h1, h2, {
    margin: 16px;
    font-family: 'Roboto Mono';
}

h3 {
    color: #6C17F6;
    margin: 32px;
}
h4 {
    margin: 48px;
}


.navbar {
    background-color: #2873DF;
    overflow: hidden;
    margin: 0 auto;

}

.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

.navbar a:hover {
    background-color: #ffffff;
    color: #2873DF;
}

.awards, .projects h4{
    font-weight: 700;
    color: #19B239;
    padding-left: 20px;
 }
 /* .awards { */
 /*    text-align: justify; */
 /*    width: 50%; */

 /* } */
 .awards img {
    margin: 0 auto;
    float: left;
    width: 20%;
    height: 20%;
    border-radius: 25px;
 }
