body {
    margin: 0;
    font-family: 'Roboto Mono';
}

h1, h2, p {
    margin: 14px;
    font-family: 'Roboto Mono';
}


.navbar {
    background-color: #893c05;
    overflow: hidden;
    margin: 0 auto;

}

.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

.navbar a:hover {
    background-color: #ffffff;
    color: #893c05;
}

img {
    float: right;
    border-radius: 25px;
    padding-top: 10px;
    padding-right: 20px;
    margin: 0
}